<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      {{ titulo | placeHolder }}
    </ion-title>
    <ion-buttons start *ngIf="!image">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cerrar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="image">
      <button ion-button (click)="uploadImagen()">
        Subir
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item *ngIf="image">
      <img [src]="image"/>
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="picker()" icon-left>
          <ion-icon name="photos"></ion-icon>
          Seleccionar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="camara()" icon-left>
          <ion-icon name="camera"></ion-icon>
          Camara
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
